#clock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.circle {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 4px solid black;
    content: "";
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /*background-image: url("c14bf6cc1ec79c6bbb09c414fdfbfbc7.jpg");*/
    background-size: cover;
}

.circle__name {
    position: absolute;
    top: 20%;
}

.circle__dashes {
    position: absolute;
    width: 10px;
    height: 299px;
    border: 1px solid black;
    background-color: black;
    z-index: -9999;
}

.circle__dashes::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 300px;
    border: 1px solid black;
    background-color: black;
    z-index: -9999;
    transform: rotate(90deg);
}

.circle__dashes::after {
    top: 25px;
    right: -121px;
    content: '';
    position:absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
}

.circle__dashes--second {
    width: 3px;
    transform: rotate(30deg);
}

.circle__dashes--second::before {
    width: 3px;
}

.circle__dashes--third {
    width: 3px;
    transform: rotate(60deg);
}

.circle__dashes--third::before {
    width: 3px;
}

.circle__dot {
    position: relative;
    top: calc(50% - 6px);
    content: '';
    border: 8px solid black;
    border-radius: 50%;
    width: 2px;
    height: 2px;
    background-color: black;
}

.circle__hours {
    position: absolute;
    align-self: center;
    content: "";
    width: 6px;
    height: 170px;
    transform: rotate(0deg);
}

.circle__hours::after {
    position: absolute;
    border: 1px solid black;
    background-color: black;
    content: "";
    height: 50%;
    width: 4px;
}

.circle__minutes {
    position: absolute;
    align-self: center;
    content: "";
    width: 4px;
    height: 240px;
    transform: rotate(250deg);
}

.circle__minutes::after {
    position: absolute;
    border: 1px solid blue;
    background-color: blue;
    content: "";
    height: 50%;
    width: 2px;
}

.circle__seconds {
    align-self: center;
    content: "";
    width: .5px;
    height: 270px;
    transform: rotate(350deg);
    position: absolute;
}

.circle__seconds::after {
    border: .5px solid red;
    background-color: red;
    content: "";
    position: absolute;
    width: .5px;
    height: 50%;
}